@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-mono: monospace;

  --color-base1: #671448;
  --color-base2: #00335B;
  --color-hover: #00335B;

  /* 320px */
  --breakpoint-4xs: 20rem;
  /* 384px */
  --breakpoint-3xs: 24rem;
  /* 448px */
  --breakpoint-2xs: 28rem;
  /* 576px */
  --breakpoint-xs: 36rem;
  /* 640px */
  --breakpoint-sm: 40rem;
  /* 768px */
  --breakpoint-md: 48rem;
  /* 1024px */
  --breakpoint-lg: 64rem;
  /* 1280px */
  --breakpoint-xl: 80rem;
  /* 1536px */
  --breakpoint-2xl: 96rem;
  /* 1920px */
  --breakpoint-3xl: 120rem;

  --breakpoint-gap: 15px;
  /* * */
  --breakpoint-gap-lg: 60px;
  /* 1024px */
  --breakpoint-gap-xl: 65px;
  /* 1280px */
  --breakpoint-gap-2xl: 70px;
  /* 1536px */
  --breakpoint-gap-3xl: 100px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  @apply mx-auto px-[var(--breakpoint-gap)] lg:px-[var(--breakpoint-gap-lg)] xl:px-[var(--breakpoint-gap-xl)];
}

/* Swiper Pagination Customization */
.swiper-pagination {
  position: absolute;
  bottom: 0 !important;
  left: 0 !important;
  right: 0 !important;
  width: 100% !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  z-index: 10;
}

.swiper-pagination-bullet {
  background: #CBD5E1;
  opacity: 1;
  width: 10px;
  height: 10px;
  margin: 0 6px !important;
}

.swiper-pagination-bullet-active {
  background: #F6273F;
}